@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>biblioteca Jedi </h1>
    <ul class="">
        <li>@Html.ActionLink("HologramaJedis", "Index", "HologramaJedis")</li>
        <li>@Html.ActionLink("Grado", "Index", "Gradoes")</li>
        <li>@Html.ActionLink("Hologramas", "Index", "Hologramas")</li>
        <li>@Html.ActionLink("Jedis", "Index", "Jedis")</li>
    </ul>
</div>

<div class="row">
    
</div>